@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
    text-align: center;
    background-image: url("https://source.unsplash.com/E0AHdsENmDg");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 60px;
    letter-spacing: 20px;
    font-family: 'Train One', cursive;
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: default;
    margin-bottom: 0;
}

h3 {
    font-family: 'Nova Slim', cursive;
    font-size: 18px;
    letter-spacing: 3px;
    background: #F7F7F7;
    background: -webkit-linear-gradient(to right, #F7F7F7 0%, #0096FF 100%);
    background: -moz-linear-gradient(to right, #F7F7F7 0%, #0096FF 100%);
    background: linear-gradient(to right, #F7F7F7 0%, #0096FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    cursor: default;
    max-width: 550px;
    width: 100%;
    margin: 30px auto;
}

h3:hover{
    transform: scale(1.1);
    transition-duration: 0.7s;
}

@keyframes color {
    0% {color: blue;}
    10% {color: lavender;}
    20% {color: red;}
    30% {color: yellow;}
    40% {color: green;}
    50% {color: pink;}
    60% {color: violet;}
    70% {color: purple;}
    80% {color: orange;}
    90% {color: deeppink;}
    100% {color: lime;}
  }

  canvas {
      border-left: 10px solid rgba(20, 52, 164, 0.7);
      border-right: 10px solid rgba(20, 52, 164, 0.7);
      border-top: 10px solid rgba(20, 52, 164, 0.7);
      border-bottom: 10px solid rgba(20, 52, 164, 0.7);
      border-radius: 50px;
  }

footer p {
    text-align: center;
    font-size: 12px;
    cursor: default;
    font-family: "Gloria Hallelujah", cursive;
    letter-spacing: 3px;
    margin-bottom: 5px;
    color: #f7f7f7;
  }
  
  footer p:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    color: darkblue;
  }

  .icons {
      text-align: center;
      margin-top: 10px;
  }

  #linkedin, #github, #discord, #codepen, #mail {
      color: #f7f7f7;
      padding: 0 10px;
  }

  #linkedin:hover, #github:hover, #discord:hover, #codepen:hover, #mail:hover {
      color: darkblue;
  }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f7f7f7;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: darkblue;
        border-radius: 20px;
      }